.list li:first-child{
    padding: 0.3rem;
}
.list li:first-child .name{
    font-weight: bold;
    font-size: 14px;
}
.phone{
    color:blue;
}

.list li+li{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.3rem 0.2rem 0.7rem;
    background: #eee;
    font-size: 14px;
}