.home .title{
    position: sticky;
    top: 0;
    left: 0;
    height: 1rem;
    width: 100%;
    line-height: 1rem;
    font-size: 14px;
    font-weight: bold;
   text-align: center;
    background: #fff;
    color:#333;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background: #FCFCFC;
}
.home .content{
    background: #fff;
    height: 80vh;
    overflow-y: scroll;
    border-top: 1px solid #eee;
}
.home .content li{
    float: left;
    width: 40%;
    height: 2.5rem;
    text-align: center;
    font-size: 12px;
    margin:0.3rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.home .content li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.home .content li span{
    margin-top: 0.2rem;
}
.home .content li i.people{
    background: url("../../static/images/icon/people.png") no-repeat;
    background-size: 100% 100%;
}
.home .content li i.parent{
    background: url("../../static/images/icon/parent.png") no-repeat;
    background-size: 100% 100%;
}
.home .content li i.sign{
    background: url("../../static/images/icon/sign.png") no-repeat;
    background-size: 100% 100%;
}
.home .content li i.memo{
    background: url("../../static/images/icon/memo.png") no-repeat;
    background-size: 100% 100%;
}